<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Todo Web App</title>
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<!-- TODO: change these references to a dinamic value -->
</head>

<body>
	<section class="todoapp">
		<header class="header">
			{% include 'header.html' %}
		</header>
		<!-- This section should be hidden by default and shown when there are todos -->
		<section class="main">
			{% include 'tasks.html' %}
		</section>
		<!-- This footer should be hidden by default and shown when there are todos -->
		<footer class="footer">
		{% include 'footer.html' %}
		</footer>
	</section>
	<footer class="info">
		<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
	</footer>
</body>

<script src="/static/js/htmx.min.js?v=1.5.0"></script>

</html>